{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
    <title{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} if any message exist it will be displayed {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <div class="alter alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>